body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
.restaurant {
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.restaurant-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


